.file-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
  
.file-table th, .file-table td {
    border: 1px solid #ddd;
    padding: 8px;
}
  
.file-table th {
    background-color: #f2f2f2;
}

.file-actions button{
    margin-right: 10px;
}

.pagination button{
    margin-right: 10px;
}